<form method="post" asp-controller="Home" asp-action="ChangeCount">
	<table>
		<tr>
			<td><p>Стоймость товара</p></td>
			<td><input id="Price" type="text" name="Price" value="" /> </td>
		</tr>
		<tr>
			<td><p>Текст</p></td>
			<td><input id="Paid" type="text" name="Paid" value="" /> </td>
		</tr>
	</table>
	<input type="submit" value="Подтвердить" />
</form>