<form method="post" asp-controller="Home" asp-action="ShowSum">
	<table>
		<tr>
			<td><p>Число n</p></td>
			<td><input id="Number" type="text" name="Number" value="" /> </td>
		</tr>
	<input type="submit" value="Подтвердить" />
</form>